.git
.github
.DS_Store
.claude-sessions
.cursor
.task
.od
.ocd
node_modules
dist
coverage
*.log
tsconfig.tsbuildinfo
deploy/*.env
deploy/.env
deploy/**/*.tar
deploy/**/*.tgz
deploy/**/*.zip
docs
story
